.button {
	@1px: 1em * (1 / @base-text-size);
	@3px: 1em * (3 / @base-text-size);
	@5px: 1em * (5 / @base-text-size);
	@10px: 1em * (10 / @base-text-size);
	@15px: 1em * (15 / @base-text-size);
	@20px: 1em * (20 / @base-text-size);

	// Gradient Colors
	@color-1: lighten(@grey, 20%);
	@color-2: lighten(@grey, 5%);

	// Baseline
	width: auto;
	height: auto;
	line-height: normal;
	text-align: center;
	text-decoration: none;
	position: relative;
	-webkit-appearance: none;
	-webkit-background-clip: padding;
	   -moz-background-clip: padding;
	        background-clip: padding-box;
	outline: 0;
	overflow: visible;
	cursor: pointer;
	vertical-align: middle;
	
	// Styling Begins
	margin: @20px 0 0 0;
	padding: @10px @15px;
	background-color: @blue;
	border: @1px solid @color-2;
	color: @dark-grey;

	// Mixins
	.inline-block-fallback();
	.size-for-font(@base-text-size);
	.border-radius(@3px);
	.background-linear-gradient(0, @color-1, 100%, @color-2);

	&:hover,
	&:focus {

		// Mixins
		.background-linear-gradient(0, @color-1, 100%, @color-1);
	}

	&.primary {
		// Create
		border: @1px solid @blue;
		color: @white;

		// Mixins
		.background-linear-gradient(0, @blue, 100%, @dark-blue);

		&:hover,
		&:focus {
			// Mixins
			.background-linear-gradient(0, @blue, 100%, @blue);
		}
	}
	&.tiny {
		// Variables
		@1px: 1em * (1 / @minion-text-size);

		// Create

		// Mixins
		.size-for-font(@minion-text-size);
	}
	&.small {
		// Variables
		@1px: 1em * (1 / @petite-text-size);
		
		// Create

		// Mixins
		.size-for-font(@petite-text-size);
	}
	&.large {
		// Variables
		@1px: 1em * (1 / @paragon-text-size);

		// Create

		// Mixins
		.size-for-font(@paragon-text-size);
	}

}